.verify-email-container {
    .text-booking {
        font-size: 18px;
        font-weight: 600;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
        color: rgb(6, 149, 34);
    }

    .infor-booking {
        font-size: 18px;
        font-weight: 600;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
        color: red;
    }
}