.doctor-extra_infor-container {
    padding-left: 15px;
    .content-up {
        margin-bottom: 10px;

        .text-address {
            text-transform: uppercase;
            color: #333;
            font-weight: 600;
        }

        .nameClinic {
            padding: 5px 0;
            font-weight: 600;
            color: #333;
            text-transform: capitalize;
        }

        .detail-address {
            text-transform: capitalize;
            font-weight: 600;
            color: #333;
        }
    }

    .content-down {

        .content-infor {
            text-transform: capitalize;
            
            .detail-span {
                cursor: pointer;
                color: #007BFF;
            }

            .currency {
                margin: 0 5px;
            }
        }

        .detail-infor {
            border: 1px solid #ddd;
            padding: 4px;
            background-color: #f8f8f8;
            .price {
                padding-bottom: 5px;

                .right {
                    float: right;
                }
            }
        }

        .payment {
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #eee;
        }

        .hide-price {
            margin-top: 10px;

            span {
                cursor: pointer;
                color: #007BFF;
            }
        }
    }
}